<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Test AngularJS 2</a>
        </div>
        
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['Foret']">Forêt</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Croissance</a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['Canvas']">Canvas</a></li>
                        <li><a [routerLink]="['Modeles']">Modèles</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

